@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
    <div class="row welcome">
        <h2>Welcome to Lollygag Management Portal</h2>
        <div>To start your project, simply browse our marketplace.</div>
        <button class="btn">Browse</button>
    </div>
</div>
