@{
    ViewData["Title"] = "My Products";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>My Products</h3>
            <hr />
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="product">
                <div>
                    <img src="~/images/bowyang.png"
                         title="Bowyang" />
                </div>
                <div><button class="btn btn-default">Manage</button></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product">
                <div>
                    <img src="~/images/folderol.png"
                         title="Folderol" />
                </div>
                <div><button class="btn btn-default">Manage</button></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product">
                <div>
                    <img src="~/images/goombah.png"
                         title="Goombah" />
                </div>
                <div><button class="btn btn-default">Manage</button></div>
            </div>
        </div>
            <div style="line-height:14;">
                <span>
                    Get more products
                </span>

                <span><button class="btn btn-default">></button></span>
            </div>
    </div>
</div>
